/*Colaborators Page */

#colaborators {
    background: url("../img/background/background-confetti.jpg") top;
}

#colaborators div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}

#colaborators section.colaborators-identity {
    background: #f0f1fc9d;
    backdrop-filter: blur(5px);
    margin: 3rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 750px;
    border: 5px inset var(--purple-border);
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

#colaborators h3 {
    font-size: 2rem;
}

#colaborators section.colaborators-identity p {
    font-size: 1.1rem;
    margin: 0.3rem;
}

#colaborators figure img {
    margin: 0.3rem 0;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border: 1px black double;
}

#colaborators section.colaborators-social_media {
    width: 90%;
    display: grid;
    grid-row: repeat(2, 1fr);
    grid-column: repeat(2, 1fr);
    margin-bottom: 1rem;
    position: absolute;
    bottom: 1rem;
    text-align: center;
/* 
    display: grid;
    grid-row: 1fr 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    background: red; */
}

#colaborators > div > section:nth-child(2) > section {
    display: grid;
    grid-column: repeat(3, 1fr);
}

#colaborators h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#colaborators section.colaborators-social_media h4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#colaborators section:nth-child(3) section.colaborators-social_media h4 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#colaborators section.colaborators-social_media img {
    width: 4em;
    box-shadow: 0 0  10px #ffffff, 0 0  15px #0004ff;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    transition: box-shadow .5s, width .3s;
    -webkit-transition: box-shadow .5s, width .3s;
    -moz-transition: box-shadow .5s, width .3s;
    -ms-transition: box-shadow .5s, width .3s;
    -o-transition: box-shadow .5s, width .3s;
}

#colaborators section.colaborators-social_media img:hover {
    width: 4.1em;
    box-shadow: 10px 10px 10px rgb(66, 66, 66);
}