.topping {
    right: 100vw;
}

.hide {
    display: none;
}

.exception {
    margin-bottom: 10rem;
}

#projects h2 {
    position: relative;
    z-index: 2;
    /* background: white; */
}

section#searchBar {
    position: relative;
}

section form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    right: 0;
    z-index: 0;
    position: relative;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    -ms-transition: right 0.5s;
    -o-transition: right 0.5s;
}

/*with logos inside label*/
/* section#searchBar label {
    height: 80px;
    margin: 5px;
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    flex-wrap: wrap;
    align-items: center;
} */

/*with logos outside label*/
section#searchBar label {
    display: flex;
    height: 50px;
    margin: 45px 8px 8px 5px;
    background: #16E6DA;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: background .3s, border 1s;
    -webkit-transition: background .3s, border 1s;
    -moz-transition: background .3s, border 1s;
    -ms-transition: background .3s, border 1s;
    -o-transition: background .3s, border 1s;
}

section#searchBar label:hover {
    background: #12c7be;
    border: 1px solid black;
}

section#searchBar input:checked + label {
    background: gold;
}

section#searchBar input {
    display: none;
}

/* using position relative we can position the logos outside the box */
section#searchBar label * {
    position: relative;
}

section#searchBar svg {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    top: -45px;
    transition: transform 0.3s, top 0.3s;
    -webkit-transition: transform 0.3s, top 0.3s;
    -moz-transition: transform 0.3s, top 0.3s;
    -ms-transition: transform 0.3s, top 0.3s;
    -o-transition: transform 0.3s, top 0.3s;
    
    /*overflowpreventsthelogosfrombeingcutoff*/
    overflow: visible;
}

section#searchBar label:hover svg {
    top: -50px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* section#searchBar input:checked + label svg {
    
} */

section#searchBar p {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: "poppins";
    font-weight: 200;
    text-transform: capitalize;
}

/* projects */

article#projects {
    text-align: center;
    /* padding: 2rem; */
    height: auto;
}

article#projects h2 {
    margin-top: 5vw;
    font-size: 1.7rem;
}

article#projects h2 img {
    height: 2rem; 
    vertical-align: middle;
}

article#projects > div{
    width: auto;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

article#projects .projects {
    width: auto;
    max-width: 300px;

    margin: 5vw 2rem;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;

    border: 1px solid #000;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;

    background: rgb(37, 37, 37);
}

.projects:nth-child(3) {
    background: red;

}

article#projects .projects:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

article#projects .projects img {
    /* width: 52vw; */
    /* height: 52vw; */
    
    height: min(20rem, 400px);
    width: min(20rem, 400px);
    max-width: 300px;
    max-height: 300px;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

article#projects .projects h3 {
    font-size: 110%;
    margin-bottom: 0.5rem;
    color: #16E6DA;
}

article#projects .projects p {
    color: #E5B611;
}

article#projects .projects div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

article#projects .projects label {
    text-transform: capitalize;
    border: 1px solid black;
    background: black;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

article#projects div#exception-Modal {
    border: 1px solid black;
    background: #fdd8511a;
    border-radius: 2rem;
    height: 10%;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

    margin: 5rem;
    padding: 0 1.5rem;

    box-shadow: 0px 0px 5px rgb(119, 119, 119);
}

article#projects div#exception-Modal h2 {
    font-size: 4rem;
}

article#projects div#exception-Modal p::before {
    content: "⚠ ";
    font-size: 1.5rem;
}

article#projects div#exception-Modal li {
    text-transform: capitalize;
    list-style-type: none;

    margin-top: 1rem;
}

article#projects div#exception-Modal li::before {
    content: "➤  "
}

article#projects div#exception-Modal li:hover::before {
    color: #16E6DA;
    
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}