@media (min-width: 768px) {
    header #menuButton {
        width: 15vw;
        max-width: 120px;
        height: 5rem;
        max-height: 70px;

        top: 4rem;
        left: 1.5rem;

        /* display: inline-flex; */
    }

    header span.sr-only {
        position: relative;
        /* display: inline; */
        /* clip-path: auto; */
        /* padding: 10px; */
        /* margin: 10px; */
        overflow:auto;

        margin: 5px;
        /* background: red; */
    }

    header #menuButton svg {
        width: 1.5rem;
        height: 1.5rem;
        margin: 10px 10px 10px 0;
        /* background: blue; */
    }

    header nav#menuList {
        top: 5rem;
    }

    article#projects,
    article#projects div {
        padding: 0;
        padding-bottom: 2rem;
    }

    article#projects div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    article#projects figure.projects {
        margin: 0;
        padding: 0;
    }

    article#projects figure.projects:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }

    article #projects figure.projects h3~img {
        width: 100%;
        height: 100%;
    }

    article#projects figure:nth-child(3) {
        grid-row-start: 1; 
        grid-column-start: 2;
        grid-column-end: 3;
    }

    article#projects figure:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

}