@media (min-width: 768px) {
    header #menuButton {
        width: 15vw;
        max-width: 120px;
        height: 5rem;
        max-height: 70px;

        top: 4rem;
        left: 1.5rem;
    }

    header span.sr-only {
        position: relative;
        overflow:auto;

        margin: 5px;
    }

    header #menuButton svg {
        width: 1.5rem;
        height: 1.5rem;
        margin: 10px 10px 10px 0;
    }

    header nav#menuList {
        top: 5rem;
    }

    article#projects figure.projects:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}

}