/* Root */
:root {
    /* header */
    --cyan-menu: rgba(66, 179, 231, 0.801);
    --purple-underline: #797bf8;
    --smoke-lighter-menu: rgba(221, 221, 221, 0.603);
    --smoke-menu-hover:  rgba(255, 255, 255, 0.685);
    --smoke-list: rgba(255, 255, 255, 0.801);
    --light-black:  rgb(54, 56, 56);


    /* projects */
    --purple-border: #5746f1af;


    /* contacts */
    --telegram: rgb(34, 152, 213);
    --whatsapp: rgb(70, 199, 86);
    --email: rgb(226, 227, 21);
    --linkedin: rgb(0, 132, 177);
    --instagram: rgb(254, 216, 117);
}


/* common styles */

.backgroundFull {
    width: 100%;
    height: auto;
}

.backgroundFull:nth-child(even) {
    background: #fff;
}

.backgroundFull:nth-child(2n+3) {
    background: #E5E5E5;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

.sr-only {
    position: absolute;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* Header */

body>header.backgroundFull {
    background:  url(../background/background-banner.jpeg) no-repeat,  black;
    background-size: contain;
    background-attachment: scroll;
    background-position: center;
    height: auto;
    background-clip: content-box;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

header #menuButton {
    background: var(--smoke-lighter-menu);
    border: 4px outset var(--cyan-menu);
    position: relative;
    top: 9rem;
    left: 1.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;

    cursor: pointer;
}

header #menuButton:hover {
    background: var(--smoke-menu-hover);
}

header #menuButton:active {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

header #menuButton span {
    font-size: 1.5rem;
}

header #menuButton svg {
    width: 2rem;
    height: 2rem;
    margin: 10px;
}

header nav#menuList {
    background: var(--smoke-list);
    font-size: 1.6rem;
    border: 5px outset var(--cyan-menu);
    border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    -ms-border-radius: 10px 0 10px 0;
    -o-border-radius: 10px 0 10px 0;
    position: relative;
    top: 10rem;
    left: -15rem; /*otherwise left:2rem;*/
    display: inline-flex;
    flex-direction: column;
    transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
}

header nav#menuList a {
    margin: 0.5rem 1rem;
}

header nav#menuList a:hover {
    color: var(--light-black);
    text-decoration: underline solid var(--purple-underline) 5px;
}

/* about */

main#about,
main#colaborators {
    padding: 20px;
}

main#about p {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.1rem;
    text-align: center;
}

/* projects */

article#projects {
    text-align: center;
    padding: 2rem;
}

article#projects .projects {
    margin: 1rem;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

article#projects .projects:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

article#projects .projects h3 {
    font-size: 1.7rem;
    margin: 0.5rem 0;
}

article#projects .projects img {
    height: min(20rem, 400px);
    width: min(20rem, 400px);
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    border: 5px inset var(--purple-border);
}

/* faq */

article#faq {
    padding: 2.5rem;
}

article#faq .faq-question {
    margin: 1.5rem 2rem;
}

article#faq .faq-question h4 {
    text-align: left;
    font-size: 1.27rem;
    font-weight: 600;
}

article#faq .faq-question p {
    font-size: 1rem;
    font-weight: 500;
}


/* contacts */

footer#contact {
    text-align: center;
}

footer#contact h2 {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 400;
}

footer#contact .contacts {
    margin: 2.5rem 0;
}

footer#contact .contacts img ,
footer#contact .contacts a {
    width: 4.5rem;
}

footer#contact .contacts img {
    transform: rotateX(45deg)rotateZ(-45deg);
    -webkit-transform: rotateX(45deg)rotateZ(-45deg);
    -moz-transform: rotateX(45deg)rotateZ(-45deg);
    -ms-transform: rotateX(45deg)rotateZ(-45deg);
    -o-transform: rotateX(45deg)rotateZ(-45deg);
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}

footer#contact .contacts img:hover {
    transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
    -webkit-transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
    -moz-transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
    -ms-transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
    -o-transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
}

footer#contact .contacts a:nth-child(1) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px var(--telegram);
}

footer#contact .contacts a:nth-child(2) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px var(--whatsapp);
}

footer#contact .contacts a:nth-child(3) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px var(--email);
}

footer#contact .contacts a:nth-child(4) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px var(--linkedin);
}

footer#contact .contacts a:nth-child(5) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px var(--instagram);
}


footer#contact .contacts a {
    margin: 1rem;
}

footer#contact span {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 1rem;
}

footer#contact span a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}









/*Colaborators Page */

#colaborators {
    background: url("../background/background-confetti.jpg") top;
}

#colaborators div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}

#colaborators section.colaborators-identity {
    background: #f0f1fc9d;
    backdrop-filter: blur(5px);
    margin: 3rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 750px;
    border: 5px inset var(--purple-border);
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

#colaborators h3 {
    font-size: 2rem;
}

#colaborators section.colaborators-identity p {
    font-size: 1.1rem;
    margin: 0.3rem;
}

#colaborators figure img {
    margin: 0.3rem 0;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border: 1px black double;
}

#colaborators section.colaborators-social_media {
    width: 90%;
    display: grid;
    grid-row: repeat(2, 1fr);
    grid-column: repeat(2, 1fr);
    margin-bottom: 1rem;
    position: absolute;
    bottom: 1rem;
    text-align: center;
/* 
    display: grid;
    grid-row: 1fr 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    background: red; */
}

#colaborators > div > section:nth-child(3) > section {
    display: grid;
    /* grid-row: 1fr 1fr; */
    grid-column: repeat(3, 1fr);
}

#colaborators h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#colaborators section.colaborators-social_media h4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#colaborators section:nth-child(3) section.colaborators-social_media h4 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#colaborators section.colaborators-social_media img {
    width: 4em;
    box-shadow: 0 0  10px #ffffff, 0 0  15px #0004ff;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    transition: box-shadow .5s, width .3s;
    -webkit-transition: box-shadow .5s, width .3s;
    -moz-transition: box-shadow .5s, width .3s;
    -ms-transition: box-shadow .5s, width .3s;
    -o-transition: box-shadow .5s, width .3s;
}

#colaborators section.colaborators-social_media img:hover {
    width: 4.1em;
    box-shadow: 10px 10px 10px rgb(66, 66, 66);
}

/* #colaborators div{
    display: inline-flex;
    width: 100%;
}

#colaborators section.colaborators-identity {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 5px inset var(--purple-border);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#colaborators section.colaborators-identity p {
    margin: 0.3rem;
}

#colaborators p {
    font-size: 0.9rem;
}

#colaborators figure {
    margin: 1rem;
}

#colaborators figure img {
    margin: 0.3rem 0;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border: 1px black double;
}

#colaborators section.colaborators-social_media {
    display: flex;
    justify-content: space-between;
}

#colaborators section.colaborators-social_media img {
    width: 4em;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    transition: box-shadow .5s, width .3s;
    -webkit-transition: box-shadow .5s, width .3s;
    -moz-transition: box-shadow .5s, width .3s;
    -ms-transition: box-shadow .5s, width .3s;
    -o-transition: box-shadow .5s, width .3s;
}

#colaborators section.colaborators-social_media img:hover {
    width: 4.1em;
    box-shadow: 10px 10px 10px rgb(66, 66, 66);
} */