/* common styles */

.backgroundFull {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

/* Header */

body>header.backgroundFull {
    background: /* linear-gradient(#e5e5e57e, #e5e5e57e),*/ url(../background/background-banner.jpeg) no-repeat,  black ;
    background-size: contain;
    background-attachment: scroll;
    background-position: center;
    /* background */
    height: auto;
    background-clip: content-box;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

header #menuButton {
    background: rgba(163, 160, 160, 0.551);
    border: 4px outset rgba(66, 179, 231, 0.801);
    position: relative;
    top: 100px;
    left: 2rem;
    width: 7rem;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
}

header #menuButton:hover {
    background: rgba(255, 255, 255, 0.582);
}

header #menuButton:active {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

header #menuButton span {
    font-size: 1.5rem;
}

header #menuButton svg {
    width: 1.8rem;
    height: 1.8rem;
}

header nav#menuList {
    background: rgba(255, 255, 255, 0.651);

    font-size: 1.6rem;
    border: 5px outset rgba(66, 179, 231, 0.801);
    border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    -ms-border-radius: 10px 0 10px 0;
    -o-border-radius: 10px 0 10px 0;
    position: relative;
    top: 110px;
    left: -15rem; /*otherwise left: 2rem*/
    display: inline-flex;
    flex-direction: column;
    transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
}

header nav#menuList a {
    margin: 0.5rem 1rem;
}

header nav#menuList a:hover {
    color: rgb(54, 56, 56);
    font-size: 1.7rem;
    text-decoration: underline solid #797bf8 5px;
}

/* about */

main#about {
    padding: 20px;
}

main#about p {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.1rem;
    text-align: center;
}

/* faq */

article#faq {
    background: #E5E5E5; 
    padding: 2.5rem;
}

article#faq .faq-question {
    margin: 1.5rem 2rem;
}

article#faq .faq-question h4 {
    text-align: left;
    font-size: 1.27rem;
    font-weight: 600;
}

article#faq .faq-question p {
    font-size: 1rem;
    font-weight: 500;
}

/* projects */

article#projects {
    text-align: center;
    padding: 2rem;
}

article#projects .projects {
    margin: 1rem;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

article#projects .projects:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

article#projects .projects h3 {
    font-size: 1.7rem;
    margin: 0.5rem 0;
}

article#projects .projects img {
    height: min(20rem, 400px);
    width: min(20rem, 400px);
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    border: 5px inset #5746f1af;
}

/* contacts */

footer#contact {
    background: #E5E5E5;
    text-align: center;
}

footer#contact h2 {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 400;
}

footer#contact .contacts {
    margin: 2.5rem 0;
}

footer#contact .contacts img ,
footer#contact .contacts a {
    width: 4.5rem;
}

footer#contact .contacts img {
    transform: rotateX(45deg)rotateZ(-45deg);
    -webkit-transform: rotateX(45deg)rotateZ(-45deg);
    -moz-transform: rotateX(45deg)rotateZ(-45deg);
    -ms-transform: rotateX(45deg)rotateZ(-45deg);
    -o-transform: rotateX(45deg)rotateZ(-45deg);
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}

footer#contact .contacts img:hover {
    /* box-shadow: -10px 10px 10px 5px white, -15px 15px black; */

    transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
    -webkit-transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
    -moz-transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
    -ms-transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
    -o-transform: rotateX(45deg) rotateZ(-45deg) translate(15px, -15px);
}

footer#contact .contacts a:nth-child(1) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px rgb(34, 152, 213);
}

footer#contact .contacts a:nth-child(2) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px rgb(70, 199, 86);
}

footer#contact .contacts a:nth-child(3) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px rgb(226, 227, 21);
}

footer#contact .contacts a:nth-child(4) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px rgb(0, 132, 177);
}

footer#contact .contacts a:nth-child(5) img:hover {
    box-shadow: -10px 10px 5px 5px white, -15px 15px 5px 5px rgb(254, 216, 117);

}


footer#contact .contacts a {
    margin: 1rem;
}

footer#contact span {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 1rem;
}

footer#contact span a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}