/* common styles */

.backgroundFull {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

/* Header */

header {
    background: #E5E5E5; 
    height: 50vh;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

/* about */

main#about {
    padding: 20px;
}

main#about p {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.1rem;
    text-align: center;
}

/* faq */

article#faq {
    background: #E5E5E5; 
    padding: 2.5rem;
}

article#faq .faq-question {
    margin: 1.5rem 2rem;
}

article#faq .faq-question h4 {
    text-align: left;
    font-size: 1.27rem;
    font-weight: 600;
}

article#faq .faq-question p {
    font-size: 1rem;
    font-weight: 500;
}

/* projects */

article#projects {
    text-align: center;
    padding: 2rem;
}

article#projects .projects {
    margin: 1rem;
}

article#projects .projects h3 {
    font-size: 1.7rem;
    margin: 0.5rem 0;
}

article#projects .projects img {
    height: 500px;
    width: 500px;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    border: 5px inset #5746f1af;
}

/* contacts */

footer#contact {
    background: #E5E5E5;
    text-align: center;
}

footer#contact h2 {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 400;
}

footer#contact .contacts {
    margin: 2.5rem 0;
}

footer#contact .contacts img ,
footer#contact .contacts a {
    width: 4.5rem;
}

footer#contact .contacts a {
    margin: 1rem;
}

footer#contact span {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 1rem;
}